.inboxView{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inboxContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
    background-color: var(--color-background);

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 8px;
}

.sectionsContainer{
    display: flex;
    padding: 16px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}
.tittle{
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    color: var(--color-text-primary);
}
.scrollableContainer{
    height: 100%;
    overflow-x: scroll;
    width: 100%;

    box-sizing: border-box;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.scrollableContainer::-webkit-scrollbar{
    background-color: transparent;
    height: 4px;
}
.scrollableContainer::-webkit-scrollbar-thumb{
    background-color: var(--color-text-muted);
    border-radius: 20px;
}

.listsContainer{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: max-content;/*100%*/
    border-radius: 8px;
    height: 100%;
    box-sizing: border-box;
}


.sectionInbox{
    width: 340px;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--color-background-cool);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    scroll-snap-align: start;
}
.sectionTittle{
    display: flex;
    background-color: var(--color-background);
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-text-muted);
    color: var(--color-text-primary);
}
@media (max-width: 768px) {
    .inboxView{
        padding: 0;
    }
    .sectionInbox{
        flex: 0 0 calc(100vw - (24px * 2));
    }
}
