.tooltipContainer {
  position: fixed;
  bottom: 0;
  transform: translateX(-100%);
  z-index: 9999;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
  width: 100vw;
  padding: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.hide {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

.tooltipContent {
  width: 500px;
  max-width: 100%;
  border: 1px solid var(--color-background-inverted);
  background-color: var(--color-background-cool);
  color: var(--color-text-primary);
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltipTextStyle {
  font-size: 14px;
  flex: 1;
}

.tooltipButton {
  background-color: var(--color-primary-medium);
  color: var(--color-button-text);
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.tooltipButton:hover {
  background-color: var(--color-primary);
}
