.signinContainer {
    display: flex;
    width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .signinLeft {
    flex: 1;
    background-color: var(--color-primary);
    color: var(--color-button-text);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
  }

  .signinRight {
    flex: 1;
    box-sizing: border-box;
    padding: 40px;
    color: var(--color-text-primary);
    background-color: var(--color-background);
  }
  .inputError,
.inputError:focus{
    border: 1px solid var(--color-error) !important;
}
  .leftContent {
    text-align: center;
  }

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }
  .toastError{
    width: 100%;
    height: fit-content;
    text-align:end;
    font-weight: 500;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 28px;
    box-sizing: border-box;
    color: var(--color-error);
    font-family: inherit;
}

  .emailPassword input {
    all: unset;
    width: calc(100% - 22px);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
  }

  .signinButton {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .loginLink {
    text-align: center;
  }
@media (max-width: 768px) {
    .signinContainer{
        height: 100%;
        width: 100%;
        background-color: var(--color-primary);
    }
    .signinLeft{
        display: none;
    }
    .signinRight{
        width: 100%;
        height: 100%;
    }
}
