.sectionOptionsContainer{
    display: flex;
    flex-direction: column;
    width: 200px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 2px;
    min-height: 200px;
    position: relative;
}
.sectionOptionsList{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}
.sectionOptionsList li{
    list-style-type: none;
    padding: 8px 16px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 12px;
}
.sectionOptionsList li:hover{
    cursor: pointer;
    background-color: lightgray;
}

