.sectionContainer{
    height: 100%;
    max-height: 100%;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    background-color: var(--color-background-cool);
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;

    scroll-snap-align: start;
}
.sectionTittleContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 16;
    height: 52px;
    box-sizing: border-box;
    background-color: var(--color-background);
    border: 1px solid var(--color-text-muted);
    border-radius: 4px;
}
.sectionTittle{
    font-weight: bold;
    width: 100%;
    overflow: hidden;
}
.iconTittle{
    border-radius: 4px;
    cursor: pointer;
}
.iconTittle:hover{
    background-color: lightgray;
}

.createInSection{
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
    display: flex;
    gap: 4px;
    justify-content: first baseline;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--color-background);
}
.createInSection:hover{
    background-color: var(--color-text-muted);
}
.createInSection > span{
    font-size: 16px;
    color: gray;
}
.createInSection > svg{
    height: 16px;
    color: red;
}
.sectionEditMode{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.editModeInput{
    width: 100%;
    font-weight: bold;
    font-family: inherit;
    font-size: 16px;
    box-sizing: border-box;
    padding: 8px 16;
    height: 52px;
    border: none;
    border-bottom: 1px solid var(--color-text-secondary);
}
.editModeInput:focus{
    border: none !important;
}
.confirmButton{
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-text-inverted);
}
.confirmButton:hover{
    cursor: pointer;
    background-color: var(--color-primary-medium);
}
.cancelButton{
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: lightgray;
}
.cancelButton:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.8);
}
.editModeButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 8px;
}
.iconMore{

}
@media (max-width: 768px) {
    .sectionContainer{
        flex: 0 0 calc(100vw - (24px * 2));
    }
}
