.scrollContainer{
    width: 100%;
    height: 100%;
    overflow-x: auto;
}
.scrollContainer::-webkit-scrollbar{
    height: 4px;
}
.scrollContainer::-webkit-scrollbar-thumb{
    background-color: var(--color-text-secondary);
    border-radius: 20px;
}
.sectionListContainer{
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 100%;
    box-sizing: border-box;
    width: max-content;
    padding-bottom: 8px;
}
.createContainer{
    background-color: var(--color-background-cool);
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}
.createButton{
    display: flex;
    flex-direction: row;
    gap: 8px;
    max-width: 100%;
    width: 340px;
    justify-content: start;
    box-sizing: border-box;
    height: 52px;
    padding: 16px;
    align-items: center;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-background);
}
.createButton:hover{
    background-color: var(--color-text-muted);
}
.createButton > input{
    all: unset;
}
.createButton > svg{
    color: red;
}


