.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 2px;
    height: auto;
    position: relative;
    z-index: 999;
}

.container svg {
    color: var(--color-text-primary);
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.list button {
    width: 100%;
    background-color: var(--background-color);
    border: none;
    padding: 8px 16px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: inherit;
    font-size: 16px;
    gap: 12px;

    color: var(--color-text-primary);
}

.list button:hover {
    cursor: pointer;
    background-color: var(--color-background-grayish);
}

.list button>svg {
    color: var(--color-text-primary);
    width: 18px;
}

.listGroup {
    padding: 8px 0;
}

.listGroup+.listGroup {
    border-top: 1px solid var(--color-text-muted);
}

.logoutButton > span{
    color: var(--color-error);
}

.logoutButton>svg {
    stroke: var(--color-error);
}
