.sidebarContainer{
    width: 76px;
    padding: 8px;
    box-sizing: border-box;
    background-color: transparent;
}
.sidebarContainerExpanded{
    width: 266px;
}
.sidebar {
    width: 60px;
    background-color: var(--color-background);
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    height: 100%;
    padding: 8px;
}
.sidebarExpanded {
    width: 250px;
}



.iconButton {
    cursor: pointer;
    padding: 8px;
    display: flex;
    justify-content: center;
    color: var(--color-text-primary);
}
.iconButton:hover{
    background-color: var(--color-primary-light);
    border-radius: 8px;
}
.logoContainer {
    display: flex;
    align-items: center;
    padding: 8px 0;
    justify-content: center;
    width: 100%;
}

.logo {
    font-size: 1.5em;
}

.logoText {
    font-weight: bold;
    color: var(--color-text-primary);
}

.searchBar {
    width: 100%;
    padding: 5px;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
}
.menuItem:hover{
    background-color: var(--color-primary-light);
    border-radius: 8px;
}
.menuItem svg{
    color: var(--color-backgound-primary);
}
.menuText {
    margin-left: 10px;
    color: var(--color-text-primary);
    font-weight: 500;
}

.currentPlan {
    background-color: #e0e0e0;
    padding: 5px;
}

.upgradeButton {
    background-color: #3f51b5;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.preferencesContainer {
    margin-left: 30px;
}

.preferenceItem {
    padding: 5px;
    background-color: #e0e0e0;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfoText {
    margin-left: 10px;
    margin-right: 5px;
}

.userInfoChevron {
    cursor: pointer;
}
.menuItemExpanded{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
}
.menuItemExpanded svg{
    color: var(--color-backgound-primary);
}
.itemProjects{
    padding-left: 10px;
}
.menuItemExpanded:hover{
    background-color: var(--color-primary-light);
}

.itemActive{
    border: 1px solid var(--color-text-inverted);
    background-color: var(--color-primary);
    border-radius: 8px;
}

.itemActive svg,
.itemActive .menuText{
    font-weight: bold;
    color: var(--color-text-inverted);
}

@media (max-width: 768px) {
    .sidebar{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60px;
    }
    .iconButton,
    .logoContainer{
        display: none;
    }
    .menuItem{
        height: 100%;
        box-sizing: border-box;
    }
    .menuItem:hover,
    .menuItemExpanded:hover{
    background-color: var(--color-primary);
    border-radius: 8px;
    }
    .menuItem:hover svg,
    .menuItemExpanded:hover svg{
    color: var(--color-text-inverted);
    }
}
