.container {
    width: 480px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);

    border-radius: 12px;

    bottom: -100%;
    transition: bottom 0.5s;
    color: var(--color-text-primary);
}
.topTittle{
    color: var(--color-text-primary);
    padding: 20px;
    margin: 0;
}
.formFooter {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 8px;
    padding: 20px;
}
.rightFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
    box-sizing: border-box;
}
.formEdit {
    width: 100%;
    height: 89%;
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.tittle,
.formDescription {
    all: unset;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-background-cool);
    border: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 4px;
    color: var(--color-text-primary);
    margin-top: 8px;
}

.tittle {
    padding: 20px 8px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 12px;
}

.formDescription {
    padding: 8px 8px;
    height: auto;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 12px;
}


.tittle:not(:placeholder-shown),
.formDescription:not(:placeholder-shown) {
    color: var(--color-text-primary);
}

.tittle:focus,
.formDescription:focus {
    outline: none;
}

.tittle:not(:focus),
.formDescription:not(:focus) {
    color: var(--color-background-grayish);
}

.confirmButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-button-text);
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.confirmButton:hover {
    background-color: var(--color-primary-medium);
}

.cancelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border: none;
    background-color: var(--color-other-button);
    color: var(--color-other-button-text);
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cancelButton:hover {
    background-color: var(--color-other-button-hover);
}
.rowFlex{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.buttonText {
    display: flex;
    align-items: center;
}
.mount {
    bottom: 10%;
}
.deleteButton{
    background-color: var(--color-other-button);
    color: var(--color-other-button-text);
}
.lefthHeader{
    width: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color-background-cool);
    border-radius: 4px;
    padding: 4px 8px;
}
.lefthHeader:hover{
    cursor: pointer;
    background-color: var(--color-background-grayish);
}
.lefthHeader:hover .deleteButton{
    color: red;
}
.rightHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
    box-sizing: border-box;
}
  .colorSelectorContainer {

  }

  .colorSelectorContainer label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-text-primary);
    padding: 0 0 0 8px;
    font-weight: bold;
  }

  .colorSelectorContainer div {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 8px;
  }

  .colorCircle {
    width: 28px;
    border: none;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  .colorCircle:hover {
    border: 1px solid transparent;
    border-color: var(--color-primary);
  }

  .selectedColorCircle {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-primary);
  }
