.sectionOptionsContainer{
    display: flex;
    flex-direction: column;
    width: 200px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 2px;
    min-height: 200px;
    position: relative;
    z-index: 999;
}
.sectionOptionsContainer svg{
    color: var(--color-text-primary);
}
.sectionOptionsList{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
.sectionOptionsList button{
    width: 100%;
    background-color: var(--background-color);
    border: none;
    padding: 8px 16px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: inherit;
    font-size: 16px;
    gap: 12px;

    color: var(--color-text-primary);
}
.sectionOptionsList button:hover{
    cursor: pointer;
    background-color: var(--color-background-cool);
}
.sectionOptionsList  button > svg{
    color: var(--color-text-primary);
    width: 18px;
}

