.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.optionsContainer{
    width: 24px;
    opacity: 0;
}
.moveIcon{
    opacity: 0;
    border-radius: 4px;
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}
.taskContainer{
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    padding: 12px ;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--color-background);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}
.taskContainer:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.taskContent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;
    padding: 0 8px 0 0;
}
.content{
    font-size: 14px;
}
.description{
    font-size: 12px;
    color: gray;
}
.moveIcon:hover .taskContainer{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.container:hover .moveIcon{
    opacity: 1;
    cursor: move;
}
.container:hover .optionsContainer{
    opacity: 1;
    cursor: pointer;
}
.iconsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 0 0 0 ;
    align-items: center;
}
.nextActionContainer{
    color: gray;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nextActionContainer > svg{
    height: 14px;
}
.placeholderContainer{
    opacity: 0.5;
    font-style: italic;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    border: 4px dashed var(--color-text-muted);
    padding: 8px 16px;
    align-items: center;
    text-align: center;
}
