.taskListContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    padding: 0 8px;
    box-sizing: border-box;
    background-color: var(--color-text-inverted);
    width: calc(320px - 16px);
    align-items: center;
    max-height: 100%;
    overflow-y: scroll;

}

.taskListContainer::-webkit-scrollbar{
    display: none;
}
