.cardContainer {
  background-color: var(--color-background);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 8px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-text-primary);
  cursor: pointer;
}

/* Simula alturas variables */
.cardContent {
  font-size: 0.9rem;
  height: auto;
}

/* O puedes añadir esta clase para simular alturas aleatorias */
.cardContainer.randomHeightSmall {
  height: 120px;
}

.cardContainer.randomHeightMedium {
  height: 180px;
}

.cardContainer.randomHeightLarge {
  height: 250px;
}
