.projectContainer {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.iconContainer {
    width: max-content;
}

.contentContainer {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.projectContainer:hover {
    cursor: pointer;
    background-color: var(--color-text-muted);
}
