.projectsListContainer{
    width: 500px;
    max-width: 100%;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    height: max-content;
    max-height: 320px;
    overflow: auto;
    padding: 8px;
    box-sizing: border-box;
}
.projectListTittle{
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bolder;
    padding: 8px;
    border-bottom: 1px solid var(--color-text-muted);
}
.projectsList{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.createButton{
    height: 36px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}
.createButton:hover{
    cursor: pointer;
    background-color: var(--color-text-muted);
}
.createButton > span{
    color: var(--color-text-secondary);
    font-weight: 400;
    font-size: 16px;
}
.createButton > svg{
    color: var(--color-red);
}
